body {
    min-height: 100vh;
}

.navbar-title {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    font-style: oblique;
    color: #ff8c1a;
    margin-top: 3px;
    /*text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;*/
}

.btn-header {
    background-color: #ff8c1a;
    color: white;
    font-size: 1.2em;
}

.logged-in-header, .logged-out-header {
    background-color: #42b3f4;
}

.btn-header:hover {
    /*background-color: #42b3f4;*/
    background-color: #42f44e;
    color: white;
}

.register-button {
    text-align: center;
    margin-top: 15px;
}

.register-body, .login-body, .register-team {
    background-color: #42b3f4;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.register-label, .login-label {
    color: white;
}

.register-header, .login-header {
    text-align: center;
    color: white;
    background-color: #ff8c1a;
    margin-bottom: 0px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.register-submit, .login-submit, .team-register-submit {
    width: 80%;
}

.page_header {
    margin-top: 0px;
}

.logged_in_top_menu li{
    display: inline;
    float: right;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.weather_icon {
    padding-right: 40px;
}

.weather_logo {
    width: 90px;
    margin-left: 20px;
}

.weather_box {
    height: auto;
}

.weather-info p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-bottom: 0px;
}

.team-page {
    width: 90%;
}

/* Add run container */
.add-run-form-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Add Run Submit Button */
.add-run-submit {
    vertical-align: bottom;
}

.add-run-hours, .add-run-minutes, .add-run-seconds {
    width: 80px;
    text-align: center;
}

#add-run-hours-select, #add-run-minutes-select, #add-run-seconds-select {
    width: 80px;
}

.add-run-city, .add-run-state, .add-run-date, .add-run-miles {
    text-align: center;
}

/*  EDIT RUN FORM */
.modal-content {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-header {
    background-color: #ff8c1a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    border-bottom: 0px;
}

.modal-footer {
    border-top: 0px;
    background-color: #42b3f4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.edit-run-form-body {
    background-color: #42b3f4;
    padding: 10px;
}

.edit-run-label {
    color: white;
}