.register-button {
    text-align: center;
    margin-top: 15px;
}

.register-body, .login-body {
    background-color: #42b3f4;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.register-label, .login-label {
    color: white;
}

.register-header, .login-header {
    text-align: center;
    color: white;
    background-color: #ff8c1a;
    margin-bottom: 0px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.register-submit, .login-submit {
    width: 80%;
}