.register-button {
    text-align: center;
    margin-top: 15px;
}

.register-body, .login-body {
    background-color: #42b3f4;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.register-label, .login-label {
    color: white;
}

.register-header, .login-header {
    text-align: center;
    color: white;
    background-color: #ff8c1a;
    margin-bottom: 0px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.register-submit, .login-submit {
    width: 80%;
}

.page_header {
    margin-top: 0px;
}

.logged_in_top_menu li{
    display: inline;
    float: right;
    margin-left: 20px;
    padding-top: 15px;
}

.weather_icon {
    padding-right: 40px;
}

.weather_logo {
    width: 90px;
    margin-left: 20px;
}

.weather_box {
    height: auto;
}

.weather-info p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-bottom: 0px;
}